@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ugdaso');
  src:  url('fonts/icomoon.eot?ugdaso#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ugdaso') format('truetype'),
    url('fonts/icomoon.woff?ugdaso') format('woff'),
    url('fonts/icomoon.svg?ugdaso#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mail:before {
  content: "\e902";
}
.icon-location-pin:before {
  content: "\e903";
}
.icon-phone:before {
  content: "\e904";
}
.icon-pinterest:before {
  content: "\e900";
}
.icon-google:before {
  content: "\e901";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-dribbble:before {
  content: "\eaa7";
}
.icon-linkedin:before {
  content: "\eaca";
}
